<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FritzBot.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <FritzBot.Properties.Settings>
            <setting name="UserFlushIntervall" serializeAs="String">
                <value>180000</value>
            </setting>
            <setting name="FloodingCount" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="Silence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="FloodingCountReduction" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="LaborCheckIntervall" serializeAs="String">
                <value>300000</value>
            </setting>
            <setting name="LaborCheck" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="BoxFrage" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="WhmfUrlResolve" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IgnoredModules" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>news</string>
                    </ArrayOfString>
                </value>
            </setting>
        </FritzBot.Properties.Settings>
    </userSettings>
</configuration>